<div id="failed-form" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title">failed</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <p>Packages update has failed.</p>
                <p id="error-details"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>

<script>
    const failedForm = $("#failed-form");
    const errorDetails = $("#error-details");
    failedForm.on("hidden.bs.modal", () => { reload(); });

    function showFailure(details) {
        errorDetails.text(details);
        failedForm.modal("show");
    }
</script>
