<div id="failed-modal" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h4 id="failed-title" class="modal-title"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <p id="failed-description"></p>
                <p id="failed-details"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi bi-x"></i> close</button>
            </div>
        </div>
    </div>
</div>

<script>
    const failedModal = $("#failed-modal");
    failedModal.on("hidden.bs.modal", () => { reload(); });

    const failedDescription = $("#failed-description");
    const failedDetails = $("#failed-details");
    const failedTitle = $("#failed-title");

    function showFailure(title, description, details) {
        failedTitle.text(title);
        failedDescription.text(description);
        failedDetails.text(details);

        failedModal.modal("show");
    }
</script>
