<div id="success-form" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h4 id="success-title" class="modal-title"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <p id="success-description"></p>
                <ul id="success-details"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi bi-x"></i> close</button>
            </div>
        </div>
    </div>
</div>

<script>
    const successForm = $("#success-form");
    const successDescription = $("#success-description");
    const successDetails = $("#success-details");
    const successTitle = $("#success-title");
    successForm.on("hidden.bs.modal", () => { reload(); });

    function showSuccess(title, description, details) {
        successTitle.text(title);
        successDescription.text(description);
        successDetails.empty().append(details);
        successForm.modal("show");
    }
</script>
