[Unit]
Description=ArcH linux ReposItory MANager (%i)

[Service]
ExecStart=/usr/bin/ahriman --repository-id "%I" repo-update --refresh
User=ahriman
Group=ahriman
