<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ahriman API</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Embed elements Elements via Web Component -->
    <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css" type="text/css">

    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>

    <elements-api
            apiDescriptionUrl="/api-docs/swagger.json"
            router="hash"
            layout="sidebar"
    />

</body>
</html>