<!doctype html>
<html lang="en">
    <head>
        <title>{{ repository }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include "utils/style.jinja2" %}
    </head>

    <body>

        <div class="container">
            <h1>Arch linux user repository</h1>
        </div>

        <div class="container">
            {% if pgp_key is not none %}
                <p>This repository is signed with <a href="https://pgp.mit.edu/pks/lookup?search=0x{{ pgp_key }}&fingerprint=on&op=index" title="key search">{{ pgp_key }}</a> by default.</p>
            {% endif %}

<pre>$ cat /etc/pacman.conf
[{{ repository }}]
Server = {{ link_path }}
SigLevel = Database{% if has_repo_signed %}Required{% else %}Never{% endif %} Package{% if has_package_signed %}Required{% else %}Never{% endif %} TrustedOnly</pre>
        </div>

        <div class="container">
            <table id="packages" class="table table-striped table-hover"
                   data-export-options='{"fileName": "packages"}'
                   data-page-list="[10, 25, 50, 100, all]"
                   data-page-size="10"
                   data-pagination="true"
                   data-resizable="true"
                   data-search="true"
                   data-show-columns="true"
                   data-show-columns-search="true"
                   data-show-columns-toggle-all="true"
                   data-show-export="true"
                   data-show-fullscreen="true"
                   data-show-search-clear-button="true"
                   data-sortable="true"
                   data-sort-reset="true"
                   data-toggle="table">
                <thead class="table-primary">
                    <tr>
                        <th data-sortable="true" data-switchable="false">package</th>
                        <th data-sortable="true">version</th>
                        <th data-sortable="true" data-visible="false">architecture</th>
                        <th data-sortable="true" data-visible="false">description</th>
                        <th data-sortable="true" data-visible="false">upstream url</th>
                        <th data-sortable="true" data-visible="false">licenses</th>
                        <th data-sortable="true" data-visible="false">groups</th>
                        <th data-sortable="true" data-visible="false">depends</th>
                        <th data-sortable="true">archive size</th>
                        <th data-sortable="true">installed size</th>
                        <th data-sortable="true">build date</th>
                    </tr>
                </thead>

                <tbody>
                {% for package in packages %}
                    <tr>
                        <td><a href="{{ link_path }}/{{ package.filename }}" title="{{ package.name }}">{{ package.name }}</a></td>
                        <td>{{ package.version }}</td>
                        <td>{{ package.architecture }}</td>
                        <td>{{ package.description }}</td>
                        <td><a href="{{ package.url }}" title="{{ package.name }} upstream url">{{ package.url }}</a></td>
                        <td>{{ package.licenses|join("<br>"|safe) }}</td>
                        <td>{{ package.groups|join("<br>"|safe) }}</td>
                        <td>{{ package.depends|join("<br>"|safe) }}</td>
                        <td>{{ package.archive_size }}</td>
                        <td>{{ package.installed_size }}</td>
                        <td>{{ package.build_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
                <ul class="nav">
                    {% if homepage is not none %}
                        <li><a class="nav-link" href="{{ homepage }}" title="homepage">homepage</a></li>
                    {% endif %}
                </ul>
                <ul class="nav">
                    <li><a class="nav-link" href="https://github.com/arcan1s/ahriman" title="sources">ahriman</a></li>
                </ul>
            </footer>
        </div>

        {% include "utils/bootstrap-scripts.jinja2" %}

    </body>

</html>
