{#simplified version of full report, now in markdown#}
## {{ repository }} update

{% for package in packages %}
    * [{{ package.name }}]({{ link_path }}/{{ package.filename }}) {{ package.version }} at {{ package.build_date }}
{% endfor %}

{% if homepage is not none %}
[Repository]({{ homepage }})
{% endif %}
