[Unit]
Description=ArcH linux ReposItory MANager web server (%I architecture)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ahriman --architecture %i web
User=ahriman
Group=ahriman

[Install]
WantedBy=multi-user.target
