[Unit]
Description=ArcH linux ReposItory MANager timer (%I architecture)

[Timer]
OnCalendar=daily
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target