[Unit]
Description=ArcH Linux ReposItory MANager (%I architecture)

[Service]
ExecStart=/usr/bin/ahriman --architecture %i update
User=ahriman
Group=ahriman