[Unit]
Description=ArcH linux ReposItory MANager (%i)

[Service]
Type=simple
ExecStart=/usr/bin/ahriman --repository-id "%I" repo-daemon --no-changes --refresh
User=ahriman
Group=ahriman

[Install]
WantedBy=multi-user.target
