[Unit]
Description=ArcH linux ReposItory MANager (%I architecture)

[Service]
ExecStart=/usr/bin/ahriman --architecture %i repo-update --refresh
User=ahriman
Group=ahriman