[Unit]
Description=ArcH linux ReposItory MANager web server (%i)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ahriman --repository-id "%I" web
User=ahriman
Group=ahriman

[Install]
WantedBy=multi-user.target
