<script type="text/javascript">
    function searchInTable() {
        const input = document.getElementById("search");
        const filter = input.value.toLowerCase();
        const tables = document.getElementsByClassName("search-table");

        for (let i = 0; i < tables.length; i++) {
            const tr = tables[i].getElementsByTagName("tr");
            // from 1 coz of header
            for (let i = 1; i < tr.length; i++) {
                let td = tr[i].getElementsByClassName("include-search");
                let display = "none";
                for (let j = 0; j < td.length; j++) {
                    if (td[j].tagName.toLowerCase() === "td") {
                        if (td[j].innerHTML.toLowerCase().indexOf(filter) > -1) {
                            display = "";
                            break;
                        }
                    }
                }
                tr[i].style.display = display;
            }
        }
    }
</script>