<!doctype html>
<html lang="en">
    <head>
        <title>{{ repository }}</title>

        {% include "style.jinja2" %}

        {% include "sorttable.jinja2" %}
        {% include "search.jinja2" %}
    </head>

    <body>
        <div class="root">
            <h1>ahriman
                <img src="https://img.shields.io/badge/version-{{ version }}-informational" alt="{{ version }}">
                <img src="https://img.shields.io/badge/architecture-{{ architecture }}-informational" alt="{{ architecture }}">
                <img src="https://img.shields.io/badge/service%20status-{{ service.status }}-{{ service.status_color }}" alt="{{ service.status }}" title="{{ service.timestamp }}">
            </h1>

            {% include "search-line.jinja2" %}

            <section class="element">
                <table class="sortable search-table">
                    <tr class="header">
                        <th>package base</th>
                        <th>packages</th>
                        <th>version</th>
                        <th>last update</th>
                        <th>status</th>
                    </tr>

                    {% for package in packages %}
                        <tr class="package">
                            <td class="include-search"><a href="{{ package.web_url }}" title="{{ package.base }}">{{ package.base }}</a></td>
                            <td class="include-search">{{ package.packages|join("<br>"|safe) }}</td>
                            <td>{{ package.version }}</td>
                            <td>{{ package.timestamp }}</td>
                            <td class="status package-{{ package.status }}">{{ package.status }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>

            <footer>
                <ul class="navigation">
                    <li><a href="https://github.com/arcan1s/ahriman" title="sources">ahriman</a></li>
                    <li><a href="https://github.com/arcan1s/ahriman/releases" title="releases list">releases</a></li>
                    <li><a href="https://github.com/arcan1s/ahriman/issues" title="issues tracker">report a bug</a></li>
                </ul>
            </footer>
        </div>
    </body>

</html>
