<!doctype html>
<html lang="en">
    <head>
        <title>{{ repository|e }}</title>

        <style>
            :root {
                --color-building: 250, 255, 146;
                --color-failed: 255, 94, 94;
                --color-pending: 250, 255, 146;
                --color-success: 121, 255, 94;
                --color-unknown: 197, 197, 197;
            }

            @keyframes blink-building {
                0% { background-color: rgba(var(--color-building), 1.0); }
                10% { background-color: rgba(var(--color-building), 0.9); }
                20% { background-color: rgba(var(--color-building), 0.8); }
                30% { background-color: rgba(var(--color-building), 0.7); }
                40% { background-color: rgba(var(--color-building), 0.6); }
                50% { background-color: rgba(var(--color-building), 0.5); }
                60% { background-color: rgba(var(--color-building), 0.4); }
                70% { background-color: rgba(var(--color-building), 0.3); }
                80% { background-color: rgba(var(--color-building), 0.2); }
                90% { background-color: rgba(var(--color-building), 0.1); }
                100% { background-color: rgba(var(--color-building), 0.0); }
            }

            div.root {
                width: 70%;
                padding: 15px 15% 0;
            }

            section.element {
                width: 100%;
            }

            input, table {
                width: inherit;
                padding: 10px 0;
            }

            th, td {
                padding: 5px;
            }

            tr.package:nth-child(odd) {
                background-color: rgba(255, 255, 255, 1);
            }

            tr.package:nth-child(even) {
                background-color: rgba(235, 235, 255, 1);
            }

            tr.header, tr.package:hover {
                background-color: rgba(200, 200, 255, 1);
            }

            td.package-unknown {
                background-color: rgba(var(--color-unknown), 1.0);
            }
            td.package-pending {
                background-color: rgba(var(--color-pending), 1.0);
            }
            td.package-building {
                background-color: rgba(var(--color-building), 1.0);
                animation-name: blink-building;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            td.package-failed {
                background-color: rgba(var(--color-failed), 1.0);
            }
            td.package-success {
                background-color: rgba(var(--color-success), 1.0);
            }
        </style>

        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <script type="text/javascript">
            function searchInTable() {
                const input = document.getElementById("search");
                const filter = input.value.toLowerCase();
                const table = document.getElementById("builds");
                const tr = table.getElementsByTagName("tr");

                // from 1 coz of header
                for (var i = 1; i < tr.length; i++) {
                    let td = tr[i].getElementsByClassName("include-search");
                    let display = "none";
                    for (var j = 0; j < td.length; j++) {
                        if (td[j].tagName.toLowerCase() === "td") {
                            if (td[j].innerHTML.toLowerCase().indexOf(filter) > -1) {
                                display = "";
                                break;
                            }
                        }
                    }
                    tr[i].style.display = display;
                }
            }
        </script>

    </head>

    <body>
        <div class="root">
            <h1>ahriman {{ version|e }}</h1>

            <section class="element">
                <input type="search" id="search" onkeyup="searchInTable()" placeholder="search for package" title="search for package"/>
            </section>

            <section class="element">
                <table class="sortable" id="builds">
                    <tr class="header">
                        <th>package base</th>
                        <th>packages</th>
                        <th>version</th>
                        <th>architecture</th>
                        <th>last update</th>
                        <th>status</th>
                    </tr>

                    {% for package in packages %}
                        <tr class="package">
                            <td class="package include-search"><a href="{{ package.web_url|e }}" title="{{ package.base|e }}">{{ package.base|e }}</a></td>
                            <td class="include-search">{{ package.packages|join("<br>"|safe) }}</td>
                            <td>{{ package.version|e }}</td>
                            <td>{{ architecture|e }}</td>
                            <td>{{ package.timestamp|e }}</td>
                            <td class="package-{{ package.status|e }}">{{ package.status|e }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    </body>

</html>
