<!doctype html>
<html lang="en">
    <head>
        <title>{{ repository|e }}</title>

        {% include "style.jinja2" %}

        {% include "sorttable.jinja2" %}
        {% include "search.jinja2" %}
    </head>

    <body>
        <div class="root">
            <h1>ahriman {{ version|e }} ({{ architecture|e }})</h1>

            {% include "search-line.jinja2" %}

            <section class="element">
                <table class="sortable search-table">
                    <tr class="header">
                        <th>package base</th>
                        <th>packages</th>
                        <th>version</th>
                        <th>last update</th>
                        <th>status</th>
                    </tr>

                    {% for package in packages %}
                        <tr class="package">
                            <td class="include-search"><a href="{{ package.web_url|e }}" title="{{ package.base|e }}">{{ package.base|e }}</a></td>
                            <td class="include-search">{{ package.packages|join("<br>"|safe) }}</td>
                            <td>{{ package.version|e }}</td>
                            <td>{{ package.timestamp|e }}</td>
                            <td class="status package-{{ package.status|e }}">{{ package.status|e }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>

            <footer>
                <ul class="navigation">
                    <li class="status" style="text-align: left; padding-right: 32px;">Service status</li>
                    <li class="status service-{{ service.status|e }}" title="last update at {{ service.timestamp|e }}">{{ service.status|e }}</li>
                    <li><a href="https://github.com/arcan1s/ahriman" title="sources">ahriman</a></li>
                    <li><a href="https://github.com/arcan1s/ahriman/releases" title="releases list">releases</a></li>
                    <li><a href="https://github.com/arcan1s/ahriman/issues" title="issues tracker">report a bug</a></li>
                </ul>
            </footer>
        </div>
    </body>

</html>
