<!doctype html>
<html lang="en">
    <head>
        <title>{{ repository|e }}</title>

        {% include "style.jinja2" %}

        {% if extended_report %}
            {% include "sorttable.jinja2" %}
            {% include "search.jinja2" %}
        {% endif %}
    </head>

    <body>
        <div class="root">
            {% if extended_report %}
                <h1>Archlinux user repository</h1>

                <section class="element">
                    {% if pgp_key is not none %}
                        <p>This repository is signed with <a href="http://keys.gnupg.net/pks/lookup?search=0x{{ pgp_key|e }}&fingerprint=on&op=index" title="key search">{{ pgp_key|e }}</a> by default.</p>
                    {% endif %}

                    <code>
                        $ cat /etc/pacman.conf<br>
                        [{{ repository|e }}]<br>
                        Server = {{ link_path|e }}<br>
                        SigLevel = Database{% if has_repo_signed %}Required{% else %}Never{% endif %} Package{% if has_package_signed %}Required{% else %}Never{% endif %} TrustedOnly
                    </code>
                </section>
            {% endif %}

            {% include "search-line.jinja2" %}

            <section class="element">
                <table class="sortable search-table">
                    <tr class="header">
                        <th>package</th>
                        <th>version</th>
                        <th>archive size</th>
                        <th>installed size</th>
                        <th>build date</th>
                    </tr>

                    {% for package in packages %}
                        <tr class="package">
                            <td class="include-search"><a href="{{ link_path|e }}/{{ package.filename|e }}" title="{{ package.name|e }}">{{ package.name|e }}</a></td>
                            <td>{{ package.version|e }}</td>
                            <td>{{ package.archive_size|e }}</td>
                            <td>{{ package.installed_size|e }}</td>
                            <td>{{ package.build_date|e }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>

            {% if extended_report %}
                <footer>
                    <ul class="navigation">
                        {% if homepage is not none %}
                            <li><a href="{{ homepage|e }}" title="homepage">Homepage</a></li>
                        {% endif %}
                    </ul>
                </footer>
            {% endif %}
        </div>
    </body>
</html>
